<main>
  <div class="mt-5 vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-8">
          <div class="card bg-dark text-light w-100">
            <div class="card-header">
              {{ response?.Name }}
            </div>
            <div
              class="card-body d-flex flex-column justify-content-center align-items-start p-5"
              style="background-color: #343a40; color: #f8f9fa"
            >
              <p class="h6">Response: {{ this?.textareaContent }}</p>
            </div>
            <div
              class="card-footer d-flex justify-content-center"
              style="background-color: #343a40"
            >
              <p-button
                type="submit"
                label="Contact Doctor"
                (click)="onContactClick()"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
